.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{ class: 'accordion-toggle collapsed', :'data-toggle' => 'collapse', href: "#accordion-item-#{ faq.id }" }
        = faq.question
  %div.panel-collapse.collapse{ id: "accordion-item-#{ faq.id }" }
    .panel-body
      != faq.answer
