@import "jednotka/bootstrap/bootstrap";

@import "jednotka/jednotka_green";
//customize contrast color
//$contrast: #01a9e0;
//@import "jednotka/jednotka";

#header {
  background: #000;
}
#map-canvas {
  height: 326px;
}
#contact_message {
  height: 215px;
}
