/*
 *= require bootstrap_and_overrides
 *= require jednotka/jednotka_green
*/


#header {
  background: image-url('top_bg.jpg') #000;
}
#map-canvas {
  height: 326px;
}
#contact_message {
  height: 215px;
}
.downloaded_price {
  margin-right: 10px;
  margin-bottom: 10px;
}
.downloaded_gost {
  display: table;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.downloaded_gost i {
  padding-left: 5px;
}
ul.nav.navbar-nav.navbar-right li a span i {
  padding-right: 5px;
}
#header .navbar-default .navbar-nav>li>a {
  padding: 0 12px;
}
