/*
 *= require bootstrap_and_overrides
 *= require jednotka/jednotka_green
*/


#header {
  background: #000;
}
#map-canvas {
  height: 326px;
}
#contact_message {
  height: 215px;
}
.downloaded_price {
  margin-right: 10px;
}
